@import "tailwindcss";

@plugin "daisyui";


[data-theme="light"] {

  body {
    background-color: rgb(255, 255, 255);
  }

  .text-color {
    color: black;
  }

  .nav-bg {
    background-color: black;
  }
}

;

[data-theme="dark"] {

  body {
    background-color: rgb(0, 0, 0);
  }

  .text-color {
    color: #F6F6F6;
  }

  .nav-bg {
    background-color: white;
  }
}

;